{% extends "base.html" %}
{% block title %}Tracking{% endblock %}
{% block content %}
    <h2>Parcel Tracking Details</h2>
    <p><strong>Reference:</strong> {{ parcel.reference }}<br>
    <strong>Name:</strong> {{ parcel.first_name }} {{ parcel.last_name }}
    <br><br>
    <strong>Delivery Address:</strong><br>
    {{ parcel.delivery_address }}</p>
    <h3>Parcel States</h3>
    <table>
        <thead>
            <tr>
                <th>State</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for state in states %}
                <tr>
                    <td>{{ state.state }}</td>
                    <td>{{ state.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="post"><br><br>
        <label for="new_address">Want to send your parcel elswhere? Update your address here:</label><br>
        <input type="text" id="new_address" name="new_address" required>
        <button type="submit">Update Address</button>
    </form>
{% endblock %}